@if (oeuvre) {
    <div class="actions">
        <button class="btn btn-danger" (click)="deleteOeuvre()">Supprimer l'oeuvre</button>
    </div>
    <div class="container">
        <h1>{{ oeuvre.nom }}</h1>
        <div class="artiste-image">
            @if (imageSrc) {
                <img [src]="imageSrc" [alt]="oeuvre.nom"/>
            } @else {
                <img src="assets/images/default-artiste.png" alt="Artiste sans image"/>
            }
        </div>

        <div class="text-content">
            <p><strong>Créée par :</strong> {{ oeuvre.artiste }}</p>
            <p><strong>Année :</strong> {{ oeuvre.date_creation }}</p>
            <p><strong>Type :</strong> {{ oeuvre.type }}</p>
            <p><strong>Dimensions :</strong> {{ oeuvre.dimensions }}</p>
            <p><strong>Description :</strong> {{ oeuvre.description }}</p>
        </div>
    </div>
}

