<aside class="sidebar">
  <div class="logo">
    <img src="assets/logo3.png" alt="ERUA Logo" />
    <small>Art Relations</small>
  </div>

  <nav class="menu">
    <ul>
      <li routerLink="/accueil" routerLinkActive="active">
        <i class="icon-home"></i> Accueil
      </li>
      <li routerLink="/edition" routerLinkActive="active">
        <i class="icon-edit"></i> Édition
      </li>
      <li routerLink="/genealogie" routerLinkActive="active">
        <i class="icon-graph"></i> Généalogie
      </li>
    </ul>
  </nav>
</aside>

