<!--<div #container style="height:400px;width:100%;background:#f5f5fa;border-radius:1rem;"></div>-->

<!-- Conteneur du graphe -->
<div #container class="graph-container" style="height:400px;width:100%;background:#f5f5fa;border-radius:1rem;"></div>

<div class="legend">
  <p><strong>Légende :</strong></p>
  <ul>
    <li><span class="circle violet"></span> Nœud non sélectionné</li>
    <li><span class="circle orange"></span> Nœud sélectionné</li>
    <li><span class="line normal"></span> Lien normal</li>
  </ul>
</div>

<div class="toolbar">
  <button (click)="exportGraph()">Exporter le graphe</button>
  <input type="file" accept=".json" (change)="importGraph($event)" />
</div>


